<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Bookopolis</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
</head>


@{
  string hide = "";
  if ((string)ViewData["Landing"] == "true")
  {
    hide = "hidden";
  }
}

<body class="bg-dark" style="margin:0; overflow: @hide">
  @if ((string)ViewData["Landing"] == "true")
  {
    <div style="display:none"></div>
    @RenderBody()
  }
  else
  {
    <header class="bg-dark">
      <nav class="navbar navbar-dark navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom border-secondary box-shadow">
        <div class="container bg-dark">
          <a onclick="localStorage.clear()" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Bookopolis</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="bg-dark navbar-nav flex-grow-1">

              @if ((string)ViewData["IsLoggedIn"] == "false")
              {
                <li class="nav-item">
                  <a class="nav-link text-light" asp-area="" asp-controller="Customer" asp-action="Login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" asp-area="" asp-controller="Customer" asp-action="Signup">Signup</a>
                </li>
              }
              else
              {
                <li class="nav-item">
                  <a class="nav-link text-light" asp-area="" asp-controller="Store" asp-action="Index">Store Locations</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" asp-area="" asp-controller="ShoppingCart" asp-action="Index">Shopping Cart</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" asp-area="" asp-controller="ShoppingCart" asp-action="Checkout">Checkout</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-light" asp-area="" asp-controller="Order" asp-action="MyOrders">Orders</a>
                </li>
                <li class="nav-item">
                  <a onclick="localStorage.clear()" class="nav-link text-light" asp-area="" asp-controller="Customer" asp-action="Login">Logout</a>
                </li>
              }

            </ul>
          </div>
        </div>
      </nav>
    </header>
    @RenderBody()

    <footer class="border-top footer text-muted">
      <div class="container">
        &copy; 2020 - Bookopolis - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
      </div>
    </footer>
  }

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @RenderSection("Scripts", required: false)
</body>
</html>
